{# Renders an error when creating a user #}

<div class="container">
    <p>{{ _("We're sorry, but we couldn't complete your registration at this time due to a possible error. This may be because the username or email address you provided is already in use on our website.") }}</p>
    
    <p>{{ _("Please double-check that you have entered the information correctly and make sure you're not attempting to create a duplicate account. If you believe you already have an account with us, try logging in instead of registering again. If you've forgotten your password, you can reset it through the \"Forgot my password\" option.") }}</p>
    
    <p>{{ _("If you continue to experience issues or have any questions, please don't hesitate to contact us through our support page. We're here to help you resolve any concerns you may have.") }}</p>
    
    <p>{{ _("We apologize for any confusion or inconvenience this may have caused and appreciate your interest in joining our community. We hope to see you soon on our website!") }}</p>
</div>
